@font-face {
  font-family: 'DMSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
    url('../fonts/DMSans_Regular.woff2') format('woff2'),
    url('../fonts/DMSans_Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Medium'),
    url('../fonts/DMSans_Medium.woff2') format('woff2'),
    url('../fonts/DMSans_Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('DMSans-Bold'),
    url('../fonts/DMSans_Bold.woff2') format('woff2'),
    url('../fonts/DMSans_Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
    url('../fonts/Rubik_Regular.woff2') format('woff2'),
    url('../fonts/Rubik_Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
    url('../fonts/Rubik_Medium.woff2') format('woff2'),
    url('../fonts/Rubik_Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Rubik-Bold'),
    url('../fonts/Rubik_Bold.woff2') format('woff2'),
    url('../fonts/Rubik_Bold.woff') format('woff');
  font-display: swap;
}