@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


@import 'media';

.header-top {
  height: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    max-width: 353px;
    width: 100%;
  }

  &__logo-item {
    margin-right: 14px;
  }

  &__logo-title {
    font-size: 36px;
    line-height: 58px;
    color: $nav;
    @extend %rubik-500;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 30px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    color: $nav;
  }
}

.user-nav {
  display: flex;
}

.user-nav {
  .link-search {
    border-radius: 30px;
    padding: 15px;
    background-color: #edf1f4;
  }

  &__link-combined {
    display: flex;
    align-items: center;
    margin: 0 45px;
    padding: 0 35px;
    background-color: $accent;
    border-radius: 30px;
    position: relative;
  }

  &__link-combined span {
    color: $accent-light;
    margin: 0 25px;
    font-size: 36px;
  }

  .link-account {
    border-radius: 50%;
    padding: 15px;
    background-color: $item;
  }

  &__link+.user-nav__link {
    margin-left: 60px;
  }

  &__link-combined .user-nav__num {
    position: absolute;
    font-size: 10px;
    line-height: 27px;
    @extend %dmsans-400;
    border-radius: 50%;
    background-color: $bg;
    color: $nav;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 18px;
  }

  &__link-combined .user-nav__num-favorites {
    top: 9px;
    left: 21px;
  }

  &__link-combined .user-nav__num-cart {
    top: 9px;
    right: 1px;
  }
}


.footer {
  background-color: #fff;
  max-height: 360px;
  margin-top: auto;
}

.footer-info {
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    margin-top: 80px;
  }

  &__logo-item {
    margin-right: 14px;
  }

  &__logo-title {
    font-size: 36px;
    line-height: 40px;
    color: $nav;
    @extend %rubik-500;
  }

  &__title {
    margin: 100px 0 15px;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    @extend %dmsans-700;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: $subtext;
    max-width: 284px;
  }

  &__link:hover {
    color: $title;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $subtext;
  }

  &__form {
    margin: 45px 0 86px;
  }

  &__form-input {
    height: 38px;
    width: 170px;
    border: none;
    background-color: $accent-light;
    padding: 0 10px;
  }

  &__form-input::placeholder {
    font-size: 12px;
    color: $nav;
    @extend %dmsans-400;
  }

  &__form-btn {
    @extend %btn;
    width: 110px;
    margin-left: -3px;
  }
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  max-height: 90px;
  align-items: center;
  border-top: 1px solid $item;

  &__text {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $subtext;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-list span {
    line-height: 28px;
    color: $subtext;
  }

  &__nav-item {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $subtext;
  }

  &__nav-link {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $subtext;
  }

  &__nav-list span {
    margin: 0 13px;
  }
}

.slider {
  max-height: 820px;
  height: 100vh;
  background-color: $accent;
  display: inline-block;
  position: relative;
}

.slider-content {
  display: grid;

  &__title {
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500;
  }

  &__text {
    color: $nav;
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 44px;
  }

  &__item {
    display: flex !important;
    justify-content: center;
    max-height: 820px;
    height: 100vh;
    align-items: center;
    background-image: url('../images/slider/circle.png');
    background-repeat: no-repeat;
    background-position: 85% 50%;
  }

  &__textual {
    max-width: 411px;
    max-height: 315px;
    height: 100%;
  }

  &__link {
    @extend %btn;
    padding: 22px 26px;
  }

  &__link span {
    font-size: 30px;
    margin-left: 58px;
    vertical-align: bottom;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  z-index: 10;
  margin-top: -60px;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
}

li {

  button {
    padding: 8px 11px;
    border-radius: 50%;
    border: none;
    background-color: $accent-light;
    margin: 0 10px;
    font-size: 10px;
    color: $nav;
    @extend %rubik-500;
    cursor: pointer;
  }

  &.slick-active {
    button {
      background-color: #fff;

    }
  }
}

.service {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 170px;
  height: 100vh;
  background-color: $accent-light;
}

.service-item {
  display: flex;

  &__title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }

  &__logo {
    margin-top: 10px;
    margin-right: 25px;
    position: relative;
  }

  &__logo::after {
    display: flex;
    content: '';
    height: 20px;
    width: 20px;
    background-color: $item;
    border-radius: 50%;
    border: none;
    opacity: 50%;
    position: absolute;
  }

  &__logo-support::after {
    right: -6px;
    top: 32px;
  }

  &__logo-delivery::after {
    right: -6px;
    top: 17px;
  }

  &__logo-payment::after {
    right: -6px;
    top: 32px;
  }
}

.service-item+.service-item {
  border-left: 1px solid #e8e4df;
  padding: 50px 0 50px 150px;
}

.products {
  padding-top: 75px;
  padding-bottom: 105px;

  &__title-item {
    font-size: 36px;
    @extend %dmsans-700;
    text-align: center;
    color: $title;
    margin-bottom: 20px;
  }

  &__nav {
    margin-bottom: 80px;
  }

  &__nav-list {
    display: flex;
    justify-content: center;
  }

  &__nav-link {
    font-size: 16px;
    @extend %dmsans-700;
    color: $subtext;
  }

  &__nav-item+.products__nav-item {
    margin-left: 30px;
  }

  &__nav-link:hover {
    color: $title;
  }
}

.products-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 30px;
  margin-bottom: 185px;
}

.products-item {

  width: 270px;
  height: 380px;

  &:hover {
    .products-item__popup-link {
      transform: translateY(0);
      transition: all .3s;
    }
  }

  background-color: #fcfcfc;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__popup {
    display: flex;
    justify-content: center;
  }

  &__popup-link {
    border-radius: 50%;
    background-color: #fff;
    padding: 13px;
    transform: translateY(200px);
  }

  &__popup-link+.products-item__popup-link {
    margin-left: 25px;
  }

  &__popup-link:hover {
    background-color: $nav;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 40px;
    @extend %dmsans-500;
    color: $nav;
  }

  &__price {
    font-size: 16px;
    line-height: 40px;
    @extend %dmsans-700;
    color: $item;
  }
}

.products-special {
  display: flex;
  justify-content: center;
  overflow: visible;

  &__item {
    background-color: #feefe2;
    height: 390px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
  }

  &__img {
    position: absolute;
    top: -95px;
    z-index: 99;
    left: 145px;
  }

  &__item+.products-special__item {
    margin-left: 30px;
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 65px;
  }

  &__item-title {
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    @extend %dmsans-700;
    margin-bottom: 25px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 35px;
  }

  &__item-link {
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    color: $nav;
    border: 1px solid #b3b7b5;
    padding: 22px 18px;
    width: fit-content;
    border-radius: 7px;

    span {
      margin-left: 40px;
    }
  }
}

.design {

  &__title-item {
    font-size: 36px;
    color: $title;
    @extend %dmsans-700;
    text-align: center;
    margin-bottom: 35px;
  }

  ul.design__nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__nav-item+.design__nav-item {
    margin-left: 30px;
  }

  &__nav-link {
    font-size: 16px;
    @extend %dmsans-700;
    color: $subtext;
  }

  &__nav-link:hover {
    color: $title;
    transition: all .3s;
  }
}

.design-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px 30px;
  margin-bottom: 120px;


  &__item {
    width: 370px;
    height: 245px;
    background-repeat: no-repeat;
    background-position: right;

    &:nth-child(3) {
      background-position-x: 200px;
      background-color: #f8f8f8;
    }

    &:nth-child(5) {
      background-position-x: 200px;
      background-color: #f8f8f8;
    }
  }

  &__link {
    font-size: 20px;
    color: $title;
    @extend %dmsans-700;
  }

  &__title {
    margin-top: 18px;
    margin-left: 26px;

    span {
      @extend %dmsans-700;
      display: block;
      font-size: 16px;
      color: $item;
      margin-top: 20px;
    }
  }
}

.design-video {
  background-image: url('../images/furniture/design/video-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 120px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__btn {
    height: 120px;
    width: 120px;
  }
}

.articles-top {

  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  align-items: baseline;

  &__title {
    color: $title;
    font-size: 36px;
    @extend %dmsans-700;
    color: $paragraph;
  }

  &__link {
    color: $title;
    font-size: 16px;
    @extend %dmsans-700;
    color: $paragraph;

    span {
      margin-left: 18px;
    }
  }
}

.articles-items {
  display: flex;
  justify-content: space-around;
}

.articles-item {
  width: 370px;
  position: relative;
  z-index: 10;
  background-color: #fff;

  &__img {
    margin-bottom: 40px;
  }

  &__decoration {
    width: fit-content;
    background-color: $item;
    padding: 10px 30px;
    border-radius: 30px;
    position: absolute;
    top: 228px;
    left: 28px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    @extend %dmsans-700;
  }

  &__text {
    margin-left: 28px;
    margin-right: 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 18px;
    max-height: 75px;
    height: 100%;
    margin-bottom: 12px;

    a {
      @extend %dmsans-500;
      color: $title;
      font-size: 18px;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 30px;
    @extend %rubik-400;
    margin-left: 28px;
    margin-right: 50px;
    margin-bottom: 12px;
  }

  &__author {
    margin-left: 30px;
  }
}

.articles-item+.articles-item {
  margin-left: 30px;
}

.articles {
  &__brands {
    background-color: #fef7f0;
    height: 435px;
    position: relative;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 260px;
    margin-top: -170px;
  }
}

.login-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__submit-btn {
    width: 470px;
    font-size: 18px;
    line-height: 21px;
    color: #243f49;
    background-color: #fff;
    height: 60px;
    border: 2px solid $item;
    @extend %rubik-500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: $nav;
    margin-bottom: 18px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 35px;


  &__input {
    height: 60px;
    width: 470px;
    margin-bottom: 25px;
    border: 1px solid #f6f6f6;
    padding: 0 7px;
    font-size: 16px;
    @extend %rubik-400;
  }

  &__text {
    margin-bottom: 12px;
    font-size: 16px;
    color: $nav;
    @extend %rubik-400;
  }

  &__lower {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    background-color: $item;
    height: 60px;
    border: none;
    @extend %rubik-500;
    cursor: pointer;
    width: 470px;
    margin-bottom: 35px;
  }

  &__lower {
    padding-bottom: 35px;
  }

  &__lower-item {
    display: flex;
    font-size: 14px;
    align-items: center;


    span {
      margin-left: 10px;
      @extend %rubik-400;
      color: $nav;
    }
  }

  &__pass-recovery {
    text-decoration: none;
    font-size: 14px;
    @extend %rubik-400;
    color: $nav;
    display: flex;
    align-items: center;
  }
}

.about-main {
  display: flex;
  height: 670px;
  overflow: hidden;
  margin-bottom: 120px;

  &__photo-img {
    max-width: 570px;
  }

  &__info {
    padding: 60px 0 60px 50px;
  }

  &__subtitle {
    display: flex;
    align-items: center;
  }

  &__subtext {
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: $paragraph;
    margin-top: 20px;
  }

  &__num {
    font-size: 140px;
    @extend %dmsans-700;
    color: $item;
    padding-right: 30px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: $paragraph;
  }

  &__upper {
    padding-bottom: 65px;
    border-bottom: 2px solid #e6eaf0;
    margin-bottom: 30px;
  }

  &__lower {
    display: flex;
    justify-content: space-between;
  }

  &__lower-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  &__lower-item+.about-main__lower-item {
    padding-left: 25px;
    border-left: 1px solid #e6eaf0;
  }

  &__icon {
    margin-right: 20px;
  }

  &__statistics-title {

    display: flex;
    flex-direction: column;
    padding-right: 25px;

    span {
      font-size: 16px;
      line-height: 17px;
      @extend %dmsans-700;
      color: #4c4c4c;
      text-align: center;
    }
  }
}

.about-services {

  background-color: $accent;
  margin-bottom: 120px;

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 320px;
  }

  &__icon {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }

  &__icon::after {
    content: '';
    background-color: $item;
    padding: 17px;
    border-radius: 50%;
    position: absolute;
    opacity: 70%;
    right: 42px;
    bottom: 5px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    font-size: 18px;
    @extend %dmsans-700;
    color: $paragraph;
  }
}

.team {
  margin-bottom: 120px;
}

.team-wrapper {
  display: flex;
  justify-content: space-between;
}

.team-description {
  width: 310px;

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: $paragraph;
    padding-bottom: 60px;
  }

  &__btn {
    padding: 20px 25px 20px 18px;
    background-color: $item;
    text-decoration: none;
    color: #fff;
    @extend %rubik-400;
    border-radius: 10px;
  }

  &__btn-text {
    padding-right: 18px;
  }
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px 30px;
  position: relative;

  &__photo {
    position: relative;
  }

  &__person {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 25px 20px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    max-width: 325px;
    position: absolute;
    background-color: #fff;
    margin-top: -50px;
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 22px;
    line-height: 26px;
    color: #436372;
    margin-bottom: 10px;
    @extend %dmsans-700;
  }

  &__occupation {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
  }

  &__icons-item {
    margin-left: 15px;
    z-index: 1;
    position: relative;
  }

  &__icons-item::before {
    content: '';
    background-color: #f6f6f6;
    padding: 15px 25px;
    border-radius: 50%;
    z-index: -1;
  }

  &__icons-logo {
    position: absolute;
    left: 17px;
    bottom: -1px;
  }

}

.logo-googleplus {
  bottom: 1px;
}